#galerie {
    /* taille de la galerie */
    height:230px;
    overflow:hidden;
    position:relative;
}

.suiv {
    /* caractéristiques de la flèche "suivant" */
    position: absolute;
    top:40px;
    right:0;
    height:100px;
    width:50px;
    /* mettre ici l'image de la flèche "suivant */
    background: url('media23.png') right top;
    background-size:50px 100px;
    cursor:pointer;
}

.prec {
    /* caractéristiques de la flèche "précédent */
    position: absolute;
    top:40px;
    left:0;
    height:100px;
    width:50px;
    /* mettre ici l'image de la flèche "précédent" */
    background: url('media23.png') left top;
    background-size:50px 100px;
    cursor:pointer;
    transform:rotate(180deg);
}

.suiv:hover{
    /* la flèche se décale de 2 px vers la droite lorsqu'on la survole */
    background-position:52px top;
}

.prec:hover{
    /* la flèche se décale de 2 px vers la gauche lorsqu'on la survole */
    background-position:2px top;
}


.slider img {
    /* caractéristiques de la div contenant les images */
    
    max-width: 800px;
    height: auto;
    max-height: 230px;
    
    /* on la rend suffisamment grande pour contenir toutes les images */

}